<template>
   <div id="nav container" class="bg-gray-100">
    <div class="md:py-10 sm:py-10 md:px-16 sm:px-8">
      <router-link to="" class="text-blue-700 font-bold text-base">Desigin Course</router-link> 
      <router-link to="/" class="md:ml-8 sm:ml-2 text-base"> Home</router-link>
      <router-link to="/work" class="md:ml-8 sm:ml-2 text-base"> Our Work</router-link>
      <router-link to="/Services" class="md:ml-8 sm:ml-2 text-base md:mr-72 xl:mr-72 "> Services</router-link>
      <router-link to="" class="text-blue-700 font-bold bg-white md:px-5 sm:px-5 md:py-2 sm:py-2 rounded-full md:ml-96 sm:ml-32 text-base"> Get a Quote</router-link>
    </div>
  </div>


  <div class="home md:px-16 sm:px-8 md:pt-20 sm:pt-20 xl:pt-25 bg-gray-100 ">
    <div class="flex">

      <div class="grid grid-cols-4">
        <div class="col-span-2">
          <div class="title">
            <p class="text-sm tracking-wide text-gray-800">
              AWARD WINNING DESIGN
            </p>
            <h1 class="font-bold text-5xl pt-2 mb-5">We make your business look great</h1>
            <router-link to="" class="bg-yellow-400 px-4 py-2 rounded-full"><i class="fa fa-search pr-2" aria-hidden="true"></i>Our Work</router-link>
          </div>
        </div>
        <div class="col-span-2 ">
        <div class="image">
        <img class="w-4/5" src="@/assets/storefront_illustration1.png">
      </div>
      </div>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-8 ">
    <div class="col-span-3 bg-red-50 h-80">
      <div class="flex card pl-16 p-12">
        <div class="card1  w-36 ">
          <div class="border rounded-lg  p-5 bg-white shadow-2xl">
            <div class="flex justify-center ">
              <img class="md:w-20 md:h-20 sm:w-20 sm:h-20 " src="@/assets/a.jpeg">
            </div> 
            <router-link to="">
             <p class="text-blue-700 font-bold text-base text-center">Gary Simon</p>
            </router-link>
            <p class="text-center text-sm">Award winning UI / UX Designer And Educator</p>
          </div>
        </div>
        <div class="card2 w-36 md:ml-16">
          <div class="border p-5 bg-white rounded-lg shadow-2xl">
            <div class="flex justify-center ">
              <img class="md:w-20 md:h-20 sm:w-20 sm:h-20 " src="@/assets/a.jpeg">
            </div> 
            <router-link to="">
             <p class="text-blue-700 font-bold text-base text-center">Jane Doe</p>
            </router-link>
            <p class="text-center text-sm">Award winning UI / UX Designer And Educator</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-span-4 h-56">
      <div class="bg-blue-700 h-56 p-12 h-80">
        <p class="text-justify p-6 text-white">User interface design or user interface engineering is the design of user interfaces for machines and software, such as computers, home appliances, mobile devices, and other electronic devices, with the focus on maximizing usability and the user experience.</p>
      </div>
    </div>

  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'Home',
  components: {
    // HelloWorld
  }
}
</script>
