<template>
    <div class="navbar flex">
        <ul>
            <li>
                <>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: 'Navbar',
}
</script>